# File: azure-pipelines.yml

trigger:
  branches:
    include:
    - master


pr:
  branches:
    include:
    - master
    - develop
  paths:
    exclude:
    - README.md
  #   - .azure-ci/*
  #   - azure-pipelines.yml


variables:

  - group: bintray
  - group: ssh

  - name: brew_tap_path
    value: /usr/local/Homebrew/Library/Taps

  - name: test_bot_repo
    value: ladislas/homebrew-test-bot
  - name: test_bot_repo_branch
    value: feature/fix-azure-tap-modified-formulae-detection
  - name: test_bot_homebrew_repo
    value: homebrew/homebrew-test-bot

  # Github variables
  - name: github_user
    value: ladislas
  - name: github_email
    value: ladislas@detoldi.me
  - name: github_tap_repo
    value: homebrew-greetings

  # Bintray variables
  - name: bintray_org
    value: ladislas
  - name: bintray_repo
    value: greetings
  - name: bintray_root_url # computed, do not change
    value: https://dl.bintray.com/$(bintray_org)/bottles-$(bintray_repo)

  - name: ssh_hostname
    value: $(ssh.hostname)
  - name: ssh_public_key
    value: $(ssh.public_key)
  # - name: ssh_passphraseds
  #   value: $(ssh.passphrase)
  - name: ssh_secure_file
    value: $(ssh.secure_file)

  - name: HOMEBREW_BINTRAY_KEY
    value: $(bintray.key)
  - name: HOMEBREW_BINTRAY_USER
    value: $(bintray.user)

  - name: UPSTREAM_GIT_URL
    value: $(Build.Repository.Uri)
  - name: UPSTREAM_PULL_REQUEST
    value: $(System.PullRequest.PullRequestNumber)


stages:

  # Stage 1 - Testing formulae on master
  - template: /.azure-ci/stages/stage_test_formulae.yml

  # Stage 2 - Cron job to test formulae
  - stage: stage_cron_job_on_master
    displayName: Cron job  on master

    condition: eq(variables['Build.Reason'], 'Schedule')

    jobs:
      - template: /.azure-ci/jobs/test_template.yml
        parameters:
          name: test_stage_cron_job_on_master
          message: Cron job on master

  # Stage 3 - Building bottles on PR
  - template: /.azure-ci/stages/stage_build_bottles.yml

  # Stage 4 - Uploading bottles to Bintray
  - template: /.azure-ci/stages/stage_upload_bottles.yml

  # Stage 5 - Auto pull/publish revision bumps
  - template: /.azure-ci/stages/stage_pull_revision_bump.yml
